@model IEnumerable<ECommerce.Models.ProductItem>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Category Id</th>
                        <th>Description</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(ProductItem x in Model)
                        {
                            <tr>
                                <td>@x.ProductName</td>
                                <td>@x.ProductCode</td>
                                <td>@x.CategoryId</td>
                                <td>@x.Description</td>
                                <td>
                                    <button data-key="@x.ProductItemId" class="btn btn-primary btn-sm btnEdit">Edit</button>
                                    <button data-key="@x.ProductItemId" class="btn btn-danger btn-sm btnDelete">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        Product Name
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control txtProductName"/>
                    </div>
                </div>
                <div class="row col mt-2">
                    <div class="col-md-5">
                        Product Code
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control txtProductCode" />
                    </div>
                </div>
                <div class="row col mt-2">
                    <div class="col-md-5">
                        Category Id
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control txtCategoryId" />
                    </div>
                </div>
                <div class="row col mt-2">
                    <div class="col-md-5">
                        Description
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control txtDescription" />
                    </div>
                </div>
                <div class="row col mt-2">
                    <div class="col-md-5">
                        Unit Price
                    </div>
                    <div class="col-md-7">
                        <input type="number" class="form-control txtUnitPrice" />
                    </div>
                </div>
                <div class="row col mt-2">
                    <div class="col-md-5">
                        Thumbnail
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control txtThumbnail" />
                    </div>
                </div>
                <div class="row col mt-2">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <input type="hidden" class="hdnId"/>
                        <button type="button" class="btn btn-success btn-sm btnSave">Save</button>
                        <button type="button" class="btn btn-danger btn-sm btnReset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).on('click', '.btnSave', function () {
            var id = $('.hdnId').val() || 0;
            var name = $('.txtProductName').val();
            var code = $('.txtProductCode').val();
            var categoryId = $('.txtCategoryId').val();
            var description = $('.txtDescription').val();
            var unitPrice = $('.txtUnitPrice').val();
            var thumbnail = $('.txtThumbnail').val();
            if (name == '') {
                toastr.error("Please Enter Product Name");
            }
            else if (code == '') {
                toastr.error("Please Enter Product Code");
            }
            else if (categoryId == '') {
                toastr.error("Please Enter Category Id");
            }
            else if (description == '') {
                toastr.error("Please Enter Description");
            }
            else if (unitPrice == '') {
                toastr.error("Please Enter Unit Price");
            }
            else if (thumbnail == '') {
                toastr.error("Please Enter Thumbnail");
            }
            else {
                $.ajax({
                    method:'get',
                    url:'@Url.Action("Save","ProductItem")?name=' + name + '&code=' + code + '&categoryId=' + categoryId + '&description=' + description + '&unitPrice=' + unitPrice + '&thumbnail=' + thumbnail + '&id=' + id,
                    contentType: "application/json;charset=utf-8",
                    success: function (res) {
                        toastr.success(res.message);
                        clearForm();
                    }
                })
            }
        })

        $(document).on('click', '.btnReset', function () {
            Swal.fire({
                title: "Are you sure you want to reset?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Reset it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $('.txtProductName').val('');
                    $('.txtProductCode').val('');
                    $('.txtCategoryId').val('');
                    $('.txtDescription').val('');
                    $('.txtUnitPrice').val('');
                    $('.txtThumbnail').val('');
                }
            });
        })

        function clearForm() {
            $('.txtProductName').val('');
            $('.txtProductCode').val('');
            $('.txtCategoryId').val('');
            $('.txtDescription').val('');
            $('.txtUnitPrice').val('');
            $('.txtThumbnail').val('');
        }

        $(document).on('click', '.btnDelete', function () {
            var id = $(this).data('key');
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'get',
                        url: '@Url.Action("Delete", "ProductItem")?id=' + id,
                        contentType: "application/json;charset=utf-8",
                        success: function (res) {
                            toastr.success(res.message);
                        }
                    })
                }
            });
        })

        $(document).on('click', '.btnEdit', function () {
            var id = $(this).data('key');
            $.ajax({
                method: 'get',
                url: '@Url.Action("Edit", "ProductItem")?id=' + id,
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    if(res.success){
                        $('.hdnId').val(res.data.productItemId);
                        $('.txtProductName').val(res.data.productName);
                        $('.txtProductCode').val(res.data.productCode);
                        $('.txtCategoryId').val(res.data.categoryId);
                        $('.txtDescription').val(res.data.description);
                        $('.txtUnitPrice').val(res.data.unitPrice);
                        $('.txtThumbnail').val(res.data.thumbnail);
                    }
                }
            })
        })
    </script>
}